#hello {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    user-select: none;
}

#text {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    background-color: rgba(30, 39, 55, 0.172);
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    user-select: text;
    text-shadow: 3px 3px 3px black;
}

button {
    background-color: #1e273735;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
}